/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*now 1rem = 10px*/
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.2;
  color: #343a40;
  border-bottom: 0.9rem solid #087f5b;
}

.container {
  width: 96rem;
  margin: 0 auto;
}

h1 {
  font-size: 4.4rem;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.1;
  margin-bottom: 3.2rem;
}

h2 {
  font-size: 3.6rem;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 2rem;
}

/* GENERAL */

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8rem;
}

.btn:link,
.btn:visited {
  background-color: #087f5b;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10rem;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #218c6b;
}

.btn--big {
  font-size: 1.8rem;
  padding: 1.6rem 3.2rem;
}

.btn--small {
  font-size: 1.4rem;
  padding: 0.8rem 1.2rem;
}

/* REFACTORED */
header,
section {
  margin-bottom: 9.6rem;
}

h2,
.chair-details {
  margin-bottom: 4.8rem;
}

h3,
.testimonial-title,
.testimonial-text {
  margin-bottom: 2.4rem;
}

.hero-text,
.features-text,
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.7;
}

.hero-image,
.testimonial-section,
.testimonial-image,
.chair-card,
.chair-image {
  border-radius: 1.2rem;
}

.chair-image,
.testimonial-image {
  width: 100%;
}

.testimonial-author,
.chair-text {
  font-size: 1.6rem;
}

/* HERO SECTION */
.hero-section {
  display: flex;
  gap: 8rem;
  margin-top: 6.4rem;
}

.hero-box {
  padding: 3.2rem 0rem;
}

.hero-image {
  width: 44rem;
}

.hero-text {
  margin-bottom: 4.1rem;
}

/* FEATURES SECTION */
.features-icon {
  color: #087f5b;
  font-size: 3rem;
  --ionicon-stroke-width: 4.2rem;
  margin-bottom: 2.4rem;
}

.features-name {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

/* TESTIMONIAL SECTION */
.testimonial-section {
  color: #fff;
  background-color: #087f5b;
  padding: 2.4rem;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-title {
  font-size: 2.4rem;
}

.testimonial-text {
  font-style: italic;
}

.testimonial-author {
  color: #c3fae8;
}

/* ORDERING SECTION */
.chair-card {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
}

.chair-image {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.chair-box {
  padding: 3.2rem;
}

.chair-details {
  list-style: none;
}

.chair-details li {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  margin-bottom: 1.6rem;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.chair-icon {
  color: #087f5b;
  font-size: 2.3rem;
  --ionicon-stroke-width: 4.2rem;
}

.chair-ordering {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chair-price {
  font-size: 2rem;
}

/* FOOTER */
footer {
  margin-bottom: 4.8rem;
  font-size: 1.4rem;
  color: #495057;
}

/* MEDIA QUERIES */

/* BELOW 1152px (Small laptops) 1152 / 16 = 72 */
@media (max-width: 72em) {
  html {
    font-size: 56.25%;
  }

  .chair-price {
    font-size: 2.1rem;
  }
}

/* BELOW 944px (Tablets) 944 / 16 = 59 */
@media (max-width: 59em) {
  .container {
    width: 70rem;
    margin: 0 auto;
  }

  .grid-3-cols {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
    row-gap: 5rem;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 6.4rem;
  }

  .hero-box {
    text-align: center;
    padding: 3.2rem 2rem;
  }

  .hero-text {
    margin-bottom: 3.8rem;
  }

  .hero-image {
    align-self: center;
  }

  .features-name {
    font-size: 1.9rem;
  }

  .testimonial-image {
    align-self: center;
  }

  .testimonial-title {
    font-size: 2.1rem;
    margin-bottom: 1.1rem;
  }

  .testimonial-text {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }

  .chair-card {
    width: 30rem;
  }

  .chair-price {
    font-size: 2.3rem;
  }
}

/* BELOW 704px (Smaller tablets)  704 /16 = 44 */
@media (max-width: 44em) {
  html {
    font-size: 50%;
  }
}

/* BELOW 624px (Phones)  624 /16 = 34 */
@media (max-width: 39em) {
  html {
    font-size: 45%;
  }

  .container {
    width: 50rem;
  }

  .grid-3-cols {
    grid-template-columns: 1fr;
    row-gap: 5rem;
    justify-items: center;
  }

  .hero-section {
    gap: 5rem;
  }

  .hero-box {
    padding: 0;
  }

  .features-box {
    text-align: center;
  }

  .features-name {
    font-size: 2.4rem;
  }

  .features-text {
    padding: 0 5rem;
  }

  .testimonial-box {
    grid-column: 1 / 2;
    align-self: center;
    text-align: center;
  }

  .testimonial-title {
    font-size: 2.5rem;
  }

  .testimonial-text {
    font-size: 1.5rem;
  }
}
